/*font-family is in body instead of individual lines because I wanted everything to have the same font and this seemed simpler */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Mouse Memoirs', sans-serif;
    background-image: url("../media/ratto.png");
}

a:link{
    color:red;
    text-decoration: dashed;
    transition: color 2s;
}
a:visited{
    color: darkred;
    text-decoration:dotted;
}
a:hover{
    color: aquamarine;
    cursor: pointer;
}
a:active{
    color: aliceblue;
    text-decoration: line-through;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    width: 100%;
    float:left; 
    padding:15px; 

}
@media only screen and (min-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
/* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
article{
    background-color: lightgreen;
}
nav{
    background-color: green;
}
header{
    background-color: rgb(204, 56, 56);
    text-align: center;
    color: rgb(38, 199, 23);
}
footer{
    background-color: aliceblue;
}
.icon-bar a {
    float: left; 
    text-align: center; 
    width: 20%; 
    padding: 12px 0; 
    transition: all 0.3s ease; 
    color: rgb(88, 88, 235); 
    font-size: 36px;
    background-color: rgb(199, 50, 50);
}

.icon-bar a:hover {
    background-color: black;
}
h1{
    text-shadow: 2px 2px purple;
    font-size: xx-large;
}
h2{
    font-size: x-large;
    color:rgb(179, 57, 57);
    text-shadow: 2px 2px blue;
}
p{
    font-size: x-large;
    color: rgb(20, 122, 153);
    text-shadow: 2px 2px rgb(0, 0, 0);
}